[Unit]
Description=TheKeycloak Application Server
After=syslog.target network.target
Before=httpd.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
User=OS_USER
Group=OS_USER
LimitNOFILE=102642
PIDFile=/var/run/keycloak/keycloak.pid
ExecStart=/opt/keycloak/bin/standalone.sh -Dkeycloak.migration.action=import -Dkeycloak.migration.provider=singleFile -Dkeycloak.migration.file=/tmp/keycloak_realm_name-realm.json -Dkeycloak.migration.strategy=IGNORE_EXISTING -b private_ip_address
StandardOutput=null

[Install]
WantedBy=multi-user.target
